.nav {
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 3.5rem;
    }

    button {
        padding: 1rem 3rem;
        color: $color-light;
        background-color: $color-secondary;
        border: none;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &:hover {
            box-shadow: 2px 2px 1rem 0px rgba(0, 0, 0, 0.25);
        }
        &:active {
            transform: translate(0, 0);
            box-shadow: 2px 2px 0.3rem 0px rgba(0, 0, 0, 0.25);
        }
    }

    &__list-link {
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0.8rem 0;
    }
    a:link,
    a:visited {
        border-bottom: 2px solid transparent;
    }
    a:hover,
    a:active {
        border-bottom: 2px dashed $color-secondary;
    }
}
