$font-main: 'Raleway';
$color-primary: #10b582;
$color-secondary: #fa9f42;
$color-light: #e5e5e5;
$color-light-l: #e7e7e7;
$color-dark: #353a5a;
$color-black: #000;

h2 {
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-weight: 500;
    font-size: 5.8rem;
    line-height: 100%;
    margin-bottom: 6rem;
}

.features {
    &__wrapper {
        margin: 12rem 0 12rem 0;
    }

    &__cards {
        display: flex;
        justify-content: space-around;
    }
}
