$font-main: 'Raleway';
$color-primary: #10b582;
$color-secondary: #fa9f42;
$color-light: #e5e5e5;
$color-light-l: #e7e7e7;
$color-dark: #353a5a;
$color-black: #000;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $font-main, sans-serif;
    font-style: normal;
    line-height: 1;
    font-weight: 400;
    color: $color-dark;
    background-color: $color-light;
    box-sizing: border-box;
}

.container {
    max-width: 117rem;
    margin: 0 auto;
    overflow: visible;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.app_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// .header {
//     height: 50px;
//     background-color: rgb(221, 221, 117);
//     order: 1;
// }

.main {
    flex-grow: 1;
    order: 2;
}

// .footer {
//     height: 50px;
//     background-color: rgb(236, 148, 148);
//     order: 3;
// }

// .container {
//     max-width: 1200px;
//     margin: 0 auto;
// }
