$font-main: 'Raleway';
$color-primary: #10b582;
$color-secondary: #fa9f42;
$color-light: #e5e5e5;
$color-light-l: #e7e7e7;
$color-dark: #353a5a;
$color-black: #000;

.developer {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-light-l, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    border-radius: 8rem 0;
    display: flex;

    &__shape {
        width: 20rem;
        transform: translateX(-3rem);
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 50%;

        @supports ((clip-path: circle(50% at 50% 50%)) or (-webkit-clip-path: circle(50% at 50% 50%))) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            width: 15rem;
            height: 15rem;
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }
    }

    &__img {
        height: 100%;
        transform: scale(1.4);
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        font-size: 2rem;
        text-transform: uppercase;
        color: $color-light;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden; //NEW!!! FIX
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: scale(1);
        filter: blur(3px) brightness(60%);
    }

    &__text {
        max-width: 75%;
        p {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 130%;
        }

        font-feature-settings: 'pnum' on, 'lnum' on;
        a {
            text-decoration: none;
            color: $color-primary;
            display: flex;
            gap: 1rem;
        }
    }

    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}
