@import '../../../variables.scss';
.audiogame-result {
    &__wrapper {
        margin: 0 auto;
    }

    &__heading {
        margin: 4rem 0;
        color: $color-primary;
        text-shadow: 1rem 0.5rem 1rem $color-dark-opasity;
    }

    &__text {
        margin: 1rem 0;
        color: $color-dark;
        font-size: 2rem;
    }

    &__words-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
}
