@import '../../variables.scss';
.auth {
    background-color: $color-light;
    display: flex;
    align-items: center;
    min-height: 80vh;

    &__title {
        margin: 0;
        text-align: center;
        color: $color-primary;
        text-shadow: 1rem 0.5rem 1rem $color-dark-opasity;
        margin-bottom: 4rem;
    }

    &__form {
        margin: 5rem auto 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    row-gap: 3rem;

    &__inputs-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    &__input {
        border: none;
        border-radius: 0 1rem;
        font-size: 1.6rem;
        line-height: 130%;
        padding: 10px;
        box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 25%);
    }

    &__button {
        border: none;
        border-radius: 0 1rem;
        font-size: 1.6rem;
        line-height: 130%;
        padding: 1rem;
        background-color: #fa9f42;
        box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 25%);
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__text {
        color: #353a5a;
        font-size: 1.6rem;
        line-height: 150%;
        padding-bottom: 2rem;
        text-align: center;
        margin: 1rem 0 0;
    }

    &__link {
        text-decoration: none;
        color: $color-primary;
        display: inline-block;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}
