@import '../../variables.scss';
.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: $color-light;
    cursor: pointer;
    &__img {
        height: 2.5rem;
    }
    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0;
    }
}
