$font-main: 'Raleway';
$color-primary: #10b582;
$color-secondary: #fa9f42;
$color-light: #e5e5e5;
$color-light-l: #e7e7e7;
$color-dark: #353a5a;
$color-black: #000;

h1 {
    font-size: 5.8rem;
    line-height: 120%;
    margin-bottom: 4rem 0 2rem 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
    font-size: 2.2rem;
    line-height: 130%;
    font-weight: 500;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 1.5rem;
}

.hero {
    background-color: $color-primary;
    color: $color-light;
    padding-top: 5.6rem;
    padding-bottom: 12rem;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56rem;
    }

    &__img-container_left {
        align-self: flex-end;
    }

    &__img {
        max-width: 100%;
    }

    &__img_left {
        border-radius: 0 8rem 0 0;
    }

    &__img-container_right {
        align-self: flex-start;
    }

    &__img_right {
        border-radius: 8rem 0 0 0;
    }

    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: 1.6rem;
        line-height: 150%;
        margin-bottom: 5rem;
    }

    .btn_animated {
        animation: moveInBottom 0.2s ease-out 0.2s; // NEW!!!!
        animation-fill-mode: backwards; // NEW!!!!
    }
}
